# Configuración de Telegram
TELEGRAM_TOKEN=TU_TOKEN_NUEVO_AQUI
TELEGRAM_ADMIN_CHAT_ID=TELEGRAM_ADMIN_CHAT_ID
OPENAI_API_KEY=SK......
GOOGLE_API_KEY=AIzaSyBqH5...


# Webhooks de n8n (puedes agregar más aquí en el futuro)
WEBHOOK_CONTRATO=url
WEBHOOK_PRINT=url
WEBHOOK_VACACIONES=url
WEBHOOK_PERMISOS=url
WEBHOOK_DATA_EMPLEADO=url

# --- DATABASE ---
# Usado por el servicio de la base de datos en docker-compose.yml
MYSQL_DATABASE=vanessa_logs
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=rootpassword

# --- SMTP ---
# Usado por el módulo de impresión para enviar correos
SMTP_SERVER=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_password
IMAP_SERVER=imap.hostinger.com
IMAP_PORT=993
IMAP_USER=your_email@example.com
IMAP_PASSWORD=your_password
PRINTER_EMAIL=your_email@example.com

